<p class="mt-4">Bootstrap</p>
<button type="button" class="btn btn-primary btn-block">ボタン</button>

<p class="mt-4">Bootstrap</p>
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#test-modal">モーダル</button>
<!-- ボタンを押したとき，以下のモーダルが出現 -->
<div class="modal fade" id="test-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">タイトル</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>本文はここに書きます</p>
      </div>
      <div class="modal-footer">
        <p>フッターはここに書きます</p>
      </div>
    </div>
  </div>
</div>

<p class="my-4">flatpickr</p>
<input id="date-form" type="text" placeholder="日付を設定" readonly>

<p class="my-4">flatpickr</p>
<input class="form-control bg-white" id="date-form" type="text" placeholder="日付を設定" readonly>

<p class="mt-4">Chart.js</p>
<canvas id="line-chart"></canvas>